<!DOCTYPE html>

<span>{{title}} by {{post_user}}</span>
<br>
<br>
{% if current_user == post_user or current_user == admin %}
<form method='post'>
  <input type="button" name="delete" value="Delete" onclick="location.href='/delete/{{post.key().id()}}'">
</form>
{% endif %}

{% if current_user == post_user %}
<form method='post'>
  <input type="button" name="delete" value="edit" onclick="location.href='/edit/{{post.key().id()}}'">
</form>
{% endif %}


<pre name="content">{{content}}</pre>
<br>
<br>
<input type="button" name="welcome" value="MainPage" onclick="location.href='/welcome'">
<br>
<br>
<form method = "post">
<textarea name="comments"></textarea>
<button>Comment</button>
</form>
{% for comment in comments %}
<div class = "blog">
  <div class = "blog-title">by {{comment.user}}</div>
  {% if current_user == comment.user %}
  <form method='post'>
    <input type="button" name="delete" value="Delete" onclick="location.href='/deletecomment/{{comment.key().id()}}'">
    <input type="button" name="delete" value="edit" onclick="location.href='/editcomment/{{comment.key().id()}}'">
  </form>
  {% endif %}
  <pre class = "blog-content">{{comment.comment}}</pre>

</div>
{% endfor %}
